@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    color: #ffffff;

    background-image: url('/images/colorsbg.jpg');
    background-size: cover;
    background-position: center;
}

.dash{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;

    justify-items: center;
    align-items: center;
    height: 80vh;
    width: 90vw;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.items{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    justify-items: center;
    gap: 3rem;
}

.items .item{
    width: 100%;
    height: 80px;
    border-radius: 1rem;

    transition: all 0.3s;
    box-shadow: 4px 5px 10px 10px rgba(20, 20, 20, 0.651);;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    gap : .3rem;

}

.item:hover{
    transform: translateY(-5px) translateX(-5px);
    box-shadow: 11px 15px 15px 10px rgba(20, 20, 20, 0.651);;
}

.glass {
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    box-shadow: inset 0 0 250px 250px rgba(6, 50, 70, 0.425), 4px 5px 10px rgba(20, 20, 20, 0.445);
    border: 1px solid rgba(255, 255, 255, 0.678);
}

a{
    text-decoration: none;
    color: #ffffff;
}

.start{
    justify-self: start;
}

form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

input {
    border: none;
    height: 2rem;
    width: 100%;
    border-radius: 1rem;
    padding: 0 1rem;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

input[type="submit"]{
    width: 15rem;
}

label{
    align-self: flex-start;
}

.inline {
    display:flex;
    align-items: center;
    gap: .5rem;
}

span{
    transition: all 0.3s;
    cursor: pointer;
}

.shadow {
    transition: all 0.1s;

    backdrop-filter: blur(0px);
    border-radius: 5px;
    padding: .5rem;
    color: rgba(255, 255, 255, 0.582);
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0);
}

.shadow:hover{
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
	box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.534);
}

.shadow > span:hover {
    transform: translateY(-3px);
}

.miniDash{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-image: url('/images/colorsbg.jpg');
    background-size: cover;
    background-position: center;
}

.shake{
    animation: shake 0.2s infinite ease-in-out;
}

@keyframes shake{
    0%{
        transform: rotate(-1deg);
    }
    50%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(-1deg);
    }
}