* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #090b11;
  background-image: url('/waves.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  height: 100vdh;
}

#app {
  height: 100%;
}

.glass {
  backdrop-filter: blur(30px);
  border-radius: 2rem;
  box-shadow: inset 0 0 8em 7em rgba(172, 177, 180, 0.219), 4px .5rem 2rem rgba(20, 20, 20, 0.479);
  border: 2px solid rgba(241, 241, 241, 0.938);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 25rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 1.5rem;
  transition: scale 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  scale: 1;
  box-shadow: inset 0 0 8em 7em rgba(172, 177, 180, 0.219), 4px .5rem 2rem rgba(20, 20, 20, 0.479);

  &:hover {
    scale: 0.98;
    box-shadow: inset 0 0 8em 7em rgba(172, 177, 180, 0.219), 4px .5rem 1rem rgba(20, 20, 20, 0.582);
    
  }
}

